int15.s
int15.f
int16.f
int16.s
int1
int2
int13
int14
int15
int16
int6
int7
int8
int9
int10
int11
int12
int22
int28
int17
int18
int19
int3
int4
int5
int20
int21
int23
int25
int24
int29
int27
int30;

int1 StrictPre int15;
int2 StrictPre int16;
int13 StrictPre int1;
int1 StrictPre int14;
int14 StrictPre int2;
int13 Coincidence int13;
int14 Coincidence int14;
int16 StrictPre int13;
int13 StrictPre int15;
int15 StrictPre int14;
int10 StrictPre int19;
int11 StrictPre int17;
int22 StrictPre int18;
int8 StrictPre int9;
int9 StrictPre int10;
int10 StrictPre int22;
int22 StrictPre int12;
int12 StrictPre int28;
int19 StrictPre int18;
int18 StrictPre int17;
int6 StrictPre int11;
int7 StrictPre int11;
int28 StrictPre int7;
int28 StrictPre int6;
int10 StrictPre int19;
int11 StrictPre int17;
int22 StrictPre int18;
int8 StrictPre int9;
int9 StrictPre int10;
int10 StrictPre int22;
int22 StrictPre int11;
int3 Coincidence int3;
int4 Coincidence int4;
int5 Coincidence int5;
int19 StrictPre int18;
int18 StrictPre int17;
int11 StrictPre int3;
int11 StrictPre int4;
int11 StrictPre int5;
int17 StrictPre int3;
int17 StrictPre int4;
int17 StrictPre int5;
int21 StrictPre int23;
int20 StrictPre int21;
int20 Coincidence int20;
int20 StrictPre int23;
int25 StrictPre int27;
int29 StrictPre int30;
int24 Coincidence int24;
int24 StrictPre int25;
int24 StrictPre int29;
int24 StrictPre int27;
int24 StrictPre int30;
int15.s Alternate int15.f;
int16.f Alternate int16.s;
int16.f Alternate int15.s;
int16.f Alternate int15.s;
int2 Alternate int1;
TD1:int13 StrictPre int14;
